RewriteEngine on
RewriteRule ^$ views [L]
RewriteRule ^(app/|app/Models/|app/Controllers/|bin/|database/|views/partials/)?$ - [F,L]
RewriteCond %{REQUEST_FILENAME} !-f
<FilesMatch "\.(env|json|lock|gitignore)$">
    Order allow,deny
    Deny from all
</FilesMatch>